<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76532762222-am6i3chavqu83apqevmj16l0lrqjo50l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76532762222-am6i3chavqu83apqevmj16l0lrqjo50l</string>
	<key>API_KEY</key>
	<string>AIzaSyAQwvCfsWgpLnyMSJcJ2axJ0W1CdMVIpaE</string>
	<key>GCM_SENDER_ID</key>
	<string>76532762222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tin2-385301</string>
	<key>STORAGE_BUCKET</key>
	<string>tin2-385301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76532762222:ios:7c67d562feb4e789bb887f</string>
</dict>
</plist>